<header class="header">
    <img class="header__logo" src="/images/logo.webp" aria-label="Done logo"/>
    <a href="https://github.com/China3ki/Done" target="_blank">
        <i class="header__icon" aria-label="Link to Done repository"></i>
    </a>
</header>