.header {
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding-right:20px;
    .header__logo {
        width:130px;
    }
    .header__icon {
        display:block;
        width:35px;
        height:35px;
        background-color:black;
        mask-size:contain;
        mask-image: url("/icons/github.svg");
        transition: .2s;
    }
    .header__icon:hover {
        background-color:lightskyblue;
    }
}
@media only screen and (min-width: 768px) {
    .header {
        padding: 0px 30px 0px 30px;
    }
}