.nav {
    position:absolute;
    left:0px;
    top:0px;
    display: flex;
    flex-direction:column;
    gap:20px;
    padding: 20px;
    background-color:white;
    height:100vh;
    width:100%;
    overflow-x:hidden;
    overflow-y:auto;
    z-index:1;
    transform: translateX(-100%);
    transition: .4s;

    .nav__handle {
        align-self:flex-end;
        .nav__icon--close {
            width: 25px;
            height: 25px;
            mask-image: url("/icons/arrowleft.svg");
            cursor:pointer;
        }
    }
    .nav__header {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        align-items: center;
        width:100%;
        .nav__logout {
            cursor:pointer;
        }
        .nav__logout:hover {
            color: lightskyblue;
        }
        .nav__icon--avatar {
            width: 30px;
            height: 30px;
            mask-image: url("/icons/avatar.svg");
        }

        .nav__name {
            text-align:center;
            font-size: 17px;
        }

        .nav__dropdown {
            list-style-type: none;

            .nav__element--main {
                position: relative;

                .nav__icon--arrow_down {
                    width: 40px;
                    height: 40px;
                    mask-image: url("/icons/arrowdown.svg");
                    cursor:pointer;
                    transform: rotate(180deg);
                }
                .nav__icon--arrow_down.show {
                    transform:rotate(0deg);
                }

                .nav__dropdown--nested {
                    position: absolute;
                    top: 45px;
                    right:0px;
                    display: none;
                    flex-direction: column;

                    .nav__element {
                        text-align: center;
                        background-color: white;
                        border: 1px solid black;
                        .nav__link {
                            display:block;
                            padding:10px;
                        }
                    }
                    .nav__element:hover {
                        background-color: #c7e9fe;
                    }
                }
                .nav__dropdown--nested.show {
                    display:flex;
                }
            }
        }
    }
    .nav__add {
        display:flex;
        justify-content:center;
        gap:10px;
        list-style-type:none;
        .nav__element {
            background-color: rgba(lightskyblue, .3);
            padding:8px;
            border-radius:12px;
            transition:.2s;
            font-weight:bold;
            cursor:pointer;
        }
        .nav__element:hover {
            background-color: rgba(lightskyblue, .5);
        }
    }
    .nav__options {
        display:flex;
        flex-direction:column;
        list-style-type:none;
        margin-top:10px;
        .nav__element {
            .nav__link {
                display:flex;
                align-items:center;
                gap:20px;
                padding:15px;
                border-radius:10px;
                transition: .2s;
                .nav__icon--projects {
                width:25px;
                height:25px;
                mask-image: url("/icons/project.svg");
                }
                .nav__icon--chats {
                    width:30px;
                    height:30px;
                    mask-image: url("/icons/chat.svg");
                }
                 .nav__icon--notifications {
                    width:30px;
                    height:30px;
                    mask-image: url("/icons/notification.svg");
                }
                 .nav__icon--friends {
                     width:30px;
                     height:30px;
                     mask-image: url("/icons/friends.svg");
                 }
                  .nav__icon--calendar {
                    width:30px;
                    height:30px;
                    mask-image: url("/icons/calendar.svg");
                }
                   .nav__icon--import {
                    width:30px;
                    height:30px;
                    mask-image: url("/icons/import.svg");
                }
                   .nav__icon--export {
                    width:30px;
                    height:30px;
                    mask-image: url("/icons/export.svg");
                }
                   .nav__icon--settings {
                    width:30px;
                    height:30px;
                    mask-image: url("/icons/settings.svg");
                }
            }
            .nav__link:hover {
                background-color: rgba(lightgray, .4);
            }
            .nav__link.show {
                background-color: rgba(lightgray, .4);
            }
        }
    }
    .nav__latest {
        list-style-type:none;
        .nav__list {
            display:flex;
            flex-direction:column;
            gap:10px;
        }
        .nav__desc {
            display:flex;
            align-items:center;
            justify-content:space-between;
            border-bottom:1px solid black;
            cursor:pointer;
            .nav__title {
                font-size:18px
            }
            .nav__icon--arrow_down {
                width:30px;
                height:30px;
                mask-image: url("/icons/arrowdown.svg");
                transform:rotate(180deg);
            }
            .nav__icon--arrow_down.show {
                transform:rotate(0deg);
            }
        }
        .nav__list--nested {
            gap:5px;
            list-style-type:none;
            overflow:hidden;
            height:0px;
            .nav__link {
                display:block;
                padding:10px;
                transition: .2s;
            }
            .nav__link:hover {
                background-color: rgba(lightgray, .4);
            }
        }
        .nav__list--nested.show {
            height:100%;
        }
    }
    .nav__footer {
        display:flex;
        justify-content:center;
        align-items:flex-end;
        height:100%;
        .nav__logo {
            width:180px;
        }
    }
}
.nav.show {
    transform:translateX(0%);
}

.nav__icon {
    display: block;
    background-color: black;
    mask-size: contain;
}
.nav__icon--show {
    display:none;
}

@media only screen and (min-width: 768px) {
    .nav {
        max-width: 350px;
        border-right: 1px solid black;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
    }
    .nav__icon--show {
        position: absolute;
        left: 20px;
        top: 20px;
        display:block;
        width: 25px;
        height: 25px;
        mask-image: url("/icons/arrowright.svg");
        cursor: pointer;
    }
}