.project {
    position:absolute;
    top:0px;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: rgba(black, .3);
    width:100%;
    height:100%;
    z-index:2;
    .project__icon {
        display:block;
        mask-size: contain;
        background-color:black;
    }
    .project__menu {
        display:flex;
        flex-direction:column;
        gap:5px;
        padding:20px;
        background-color:white;
        width:100%;
        margin: 0px 10px 0px 10px;
        max-width:500px;
        border-radius:20px;
        .project__icon--close {
            width:25px;
            height:25px;
            mask-image:url("/icons/close.svg");
            align-self:flex-end;
            transition: .2s;
            cursor:pointer
        }
        .project__icon--close:hover {
            background-color: rgba(lightskyblue, .8);
        }
        .project__header {
            display:flex;
            align-items:center;
            gap:15px;
            .project__icon--header {
                width:30px;
                height:30px;
                mask-image: url("/icons/project.svg");
            }
            .project__title {
                font-style:italic;
                color:lightskyblue;
                font-size:25px;
            }
        }
        .project__warning {
            display:flex;
            flex-direction:column;
            align-self:center;
            background-color: rgba(red, .1);
            border: 1px solid red;
            padding:10px;
            font-size:15px;
        }
        .project__logo {
            width:150px;
            align-self:center;
        }
    }
}