<div class="notification__wrapper">
    <div class="notification">
            <i class="notification__icon" aria-label="Notification icon"></i>
        <p class="notification__info">@Info</p>
        <span>@Question</span>
        <div class="notification__buttons">
            <span class="notification__button--cancel" @onclick="OnCancel">Cancel</span>
            <span class="notification__button--accept" @onclick="OnConfirm">Confirm</span>
        </div>
    </div>
</div>