.notification__wrapper {
    position:absolute;
    display:flex;
    justify-content:center;
    align-items:center;
    top:0px;
    width:100%;
    height:100%;
    background-color: rgba(black, .3);
    z-index:2;
    .notification {
        display:flex;
        flex-direction:column;
        align-items:center;
        gap:20px;
        background-color:white;
        padding:20px;
        border-radius: 10px;
        .notification__icon {
            display:block;
            width:50px;
            height:50px;
            mask-size:contain;
            mask-image: url("/icons/info.svg");
            background-color:lightskyblue;   
        }
        .notification__buttons {
            display:flex;
            align-items:center;
            justify-content:space-between;
            padding: 0px 10px 0px 10px;
            width:100%;
            .notification__button--accept {
                background-color: rgba(lightskyblue, .5);
                border-radius:10px;
                padding:10px;
                cursor:pointer;
                transition: .2s;
            }
            .notification__button--accept:hover {
                background-color: lightskyblue;
            }
            .notification__button--cancel:hover {
                transition: .2s;
                color:red;
                cursor:pointer;
            }
        }
    }
}