<EditForm class="form" Model="_register">
    <div class="form__pair">
        <label class="form__icon" for="name"></label>
        <InputText class="form__input" id="name" @bind-Value="_register.Name" placeholder="Name"/>
    </div>
    <div class="form__pair">
        <label class="form__icon" for="surname"></label>
        <InputText class="form__input" id="surname" @bind-Value="_register.Surname" placeholder="Surname" />
    </div>
    <div class="form__pair">
        <label class="form__icon" for="email"></label>
        <InputText class="form__input" id="email" @bind-Value="_register.Email" placeholder="Email" />
    </div>
    <div class="form__pair">
        <label class="form__icon" for="password"></label>
        <InputText class="form__input" id="password" @bind-Value="_register.Password" placeholder="Password" />
    </div>
    <div class="form__pair">
        <label class="form__icon" for="confirmedPassword"></label>
        <InputText class="form__input" id="confirmedPassword" @bind-Value="_register.ConfirmedPassword" placeholder="Confirmed password" />
    </div>
    <div class="form__submits">
        <span class="form__cancel" @onclick="CloseForm">Cancel</span>
        <input class="form__input--submit" type="submit" value="Register" />
    </div>
</EditForm>