.form {
    display:flex;
    flex-direction:column;
    gap:10px;
    margin: 10px 0px 10px 0px;
    width:100%;
    max-width:500px;
    .form__pair {
        width:100%;
        .form__input {
            padding:5px;
            height: 35px;
            width:100%;
            background-color:transparent;
            border:none;
            border-bottom: 1px solid black;
            font-size:16px;
        }
        .form__input.invalid {
            border-bottom: 1px solid rgba(red, .8);
        }
        .form__input:focus {
            outline:none;
            border-bottom: 1px solid lightskyblue;
        }
    }
    .form__submits {
        display:flex;
        justify-content:space-between;
        align-items:center;
        padding: 0px 20px 0px 20px;
        margin-top:10px;
        .form__cancel {
            font-size:14px;
            cursor:pointer;
            transition: .2s;
        }
        .form__cancel:hover {
            color:rgba(red, .5);
        }
        .form__input--submit {
            align-self:center;
            padding:10px;
            background-color:rgba(lightskyblue, .5);
            font-size:16px;
            border:none;
            border-radius: 10px;
            cursor:pointer;
            transition: .2s;
        }
        .form__input--submit:hover {
            background-color: lightskyblue;
        }
    }
    .form__created {
        margin-top:10px;
        align-self:center;
        background-color:rgba(green, .2);
        border: 2px solid green;
        padding:10px;
    }
}
.validation-errors {
    display:flex;
    flex-direction:column;
    gap:5px;
    list-style-type:none;
    color: rgba(red, .8);
    border-top: 1px dashed red;
    padding-top: 10px;
}