.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 20px 10px 20px 10px;
}
.projects .projects__header {
  display: flex;
  align-items: center;
  gap: 10px;
}
.projects .projects__header .projects__icon--header {
  display: block;
  background-color: black;
  width: 30px;
  height: 30px;
  mask-size: contain;
  mask-image: url("/icons/project.svg");
}
.projects .projects__header .projects__title {
  font-style: italic;
  font-weight: bolder;
  color: lightskyblue;
}
.projects .projects__add {
  background-color: rgba(135, 206, 250, 0.3);
  padding: 8px;
  border-radius: 12px;
  border: none;
  transition: 0.2s;
  font-weight: bold;
  cursor: pointer;
}
.projects .projects__add:hover {
  background-color: rgba(135, 206, 250, 0.5);
}
.projects .projects__input {
  height: 40px;
  width: 80%;
  padding: 10px;
  max-width: 500px;
}
.projects .projects__table {
  width: 100%;
  max-width: 1200px;
  font-size: 14px;
}
.projects .projects__table th {
  font-style: italic;
}
.projects .projects__table th, .projects .projects__table td {
  padding: 5px;
  text-align: center;
  max-width: 100px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.projects .projects__table .projects__open:hover {
  background-color: rgba(135, 206, 250, 0.2);
  transition: 0.2s;
  cursor: pointer;
}
.projects .projects__table .projects__icon {
  display: block;
  width: 25px;
  height: 25px;
  margin: auto;
  background-color: black;
  mask-size: contain;
  transition: 0.2s;
  cursor: pointer;
}
.projects .projects__table .projects__icon--pin {
  mask-image: url("/icons/pin.svg");
}
.projects .projects__table .projects__icon--details {
  mask-image: url("/icons/details.svg");
}
.projects .projects__table .projects__icon:hover {
  background-color: rgba(135, 206, 250, 0.5);
}
.projects .projects__table .projects__icon.fill {
  mask-image: url("/icons/pin-fill.svg");
  background-color: lightskyblue;
}
.projects .projects__pagination {
  display: flex;
  align-items: center;
  gap: 10px;
}
.projects .projects__pagination .projects__page {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 25px;
  height: 25px;
  transition: 0.2s;
  cursor: pointer;
}
.projects .projects__pagination .projects__page:hover {
  background-color: rgba(135, 206, 250, 0.3);
}
.projects .projects__pagination .projects__page.show {
  background-color: lightskyblue;
}

@media only screen and (min-width: 768px) {
  .projects {
    margin: 0px 100px 0px 100px;
  }
}
